__pycache__/
*.py[cod]
*.sqlite3
.env
.env.*
.idea/
.vscode/
.dist/
*.egg-info/
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/
.gitattributes
.DS_Store
Thumbs.db
.data
/data/app.db
/data/*.db
.github
.pytest_cache
.venv
